[project]
name = "usjrinnovathon"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "dotenv>=0.9.9",
    "requests>=2.32.5",
    "openai>=1.0.0",
    "pdf2image>=1.16.0",
    "Pillow>=10.0.0",
]
